<table class="table table-hover">
  <tr *ngFor="let pd of service.list">
      <thead>
          <tr>
          
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Docs</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             
    <td (click)="populateForm(pd)">{{pd.KeyWord}}</td>
    
  
      <td (click)="populateForm(pd)">{{pd.Description}}</td>
    
      <td (click)="populateForm(pd)"><img src="{{pd.imageurl}}" height="55px"/></td>

    <td (click)="populateForm(pd)"><a href="{{pd.docurl}}">link</a></td>
 
  <td (click)="populateForm(pd)">{{pd.Sourcename}}</td>

    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.KWId)"></i>
    </td>
  </tr>
</table>